.main-usario {
  width: 1065px;
  height: 100vh;

  align-items: center;
  display: flex;

  margin: auto;
}

.main-usario .table-usuario {
  width: 1065px;
  min-height: 283px;
  border: 1px solid var(--cor-tabela);
}

.main-usario .table-usuario .cabecalho-usuario {
  background-color: var(--cor-tabela);
}

.main-usario .table-usuario .cabecalho-usuario .idName-usuario {
  width: 186px;
  height: 40px;

  text-align: center;

  color: var(--cor-fonte-cabecalho-tabela);
}

.main-usario .table-usuario .cabecalho-usuario .nameName-usuario {
  width: 825px;
  height: 40px;

  padding: 10px;

  color: var(--cor-fonte-cabecalho-tabela);
}
